@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&display=swap');
@import './design-system/tokens.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  min-height: 100vh;
  background-color: var(--color-bg-default);
  color: var(--color-text-paragraph-on-dark);
}
